@model UPECConnect.Data.Models.Empresa

@{
    ViewData["Title"] = "Password";
}

<h1>Mudar Palavra-Passe</h1>

@if (ViewBag.sucesso == 1)
{
    <div class="alert alert-success" role="alert">
        A sua palavra-passe da empresa foi alterada com sucesso!
    </div>
}
else if (ViewBag.sucesso == 2)
{
    <div class="alert alert-danger" role="alert">
        Não foi possível alterar a sua palavra-passe da empresa!
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Password">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Palavra-Passe Antiga</label>
                <input type="password" name="oldPass" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nova Palavra-Passe</label>
                <input type="password" name="newPass1" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirme a Palavra-Passe</label>
                <input type="password" name="newPass2" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}